.mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box
}

.title-two{
    font-size: 40px;
    white-space: nowrap;
    font-family: "PangMenZhengDao";
    color: rgba(255, 255, 255, 1);
    line-height: 46px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.header-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3% 4%;
    position: absolute;
    top: 0;
    z-index: 999;
}
.header-wrapper .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.header-wrapper .logo {
    width: 41px;
    height: 41px
}
.navbar .nav-item {
    font-size: 14px;
    font-family: PingFangSC-Regular,sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 20px
}

.divide-line {
    background-color: #fff;
    width: 2px;
    height: 19px;
    margin: 0 .43rem
}
.title-block-two {
    position: absolute;
    bottom: 25px;
    left: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.page-one {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 775px;
    position: relative
}

.page3-pic {
    width: 224px;
    height: auto
}

.page-three{
    width: 100%;
    height: 433px;
    background-image: url("https://cdn.api.wanzi.cn/weapp/icon/mobile/page3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.title-four {
    font-size: 30px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 34px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}
.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7px;
    font-family: PingFangSC-Regular,sans-serif;
    color: #999;
    font-weight: 400;
    line-height: 10px;
    margin-top: 61px;
    margin-bottom: 92px
}

.footer-block .footer-top {
    line-height: 10px;
    font-size: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px
}

.footer-block .footer-center {
    line-height: 10px;
    font-size: 7px;
    text-align: center;
    margin-bottom: 13px
}


a,a:hover {
    color: #999
}