
@font-face {
    font-family: PangMenZhengDao;
    src: url(https://cdn.api.wanzi.cn/weapp/icon/PangMenZhengDao.ttf);
    font-weight: 400;
    font-size:inherit}

html {
    font-size: 16px
}

#app {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50
}

#app,body {
    height: 100%
}

body {
    margin: 0;
    background: #111
}

img {
    width: 100%;
    height: 100%
}

a {
    text-decoration: none
}

a,a:active,a:hover,a:link,a:visited {
    color: #999
}

.main-container {
    background-color: #111;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.page-one {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/page1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: .5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end
}

.page-one .center-block-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16.7%;
    top: 29.3%
}

.title-main {
    height: .89rem;
    font-size: .89rem;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 1.02rem
}

.sub-title-main {
    margin-top: 5px;
    height: .35rem;
    width: 5.12rem;
    margin-bottom: .55rem
}

.title {
    height: 1.58rem;
    font-size: .79rem;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: .9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.center-block-one .center-btn {
    width: 3.19rem;
    height: .9rem;
    margin-bottom: .33rem
}

.page-two {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/page2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
}




.page-three {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/page3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
}


.page-four {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/page4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
}




.page-one-maintain {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/page1_maintain.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: .5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end
}

.center-block-one-maintain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.maintain-title {
    height: .89rem;
    font-size: .89rem;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 1.02rem;
    margin-bottom: 30px
}

.maintain-desc {
    width: 8.88rem;
    height: auto
}

.maintain-desc img {
    width: 100%;
    height: 100%
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: PingFangSC-Regular,sans-serif;
    font-weight: 400;
    line-height: 17px
}

.footer-block .footer-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 67px
}

.footer-block .footer-center {
    margin-bottom: 20px
}

a,a:hover {
    color: #fff
}



.header-wrapper .logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center
}



.main-container {
    background-color: #111;
    width: 100%;
    position: relative;
    display: flex
}

.page-one {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/page1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative
}

.center-block,.page-one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.center-block {
    position: absolute;
    top: 35%;
    left: 55%
}

.new-footer {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff!important
}

a:active,a:hover,a:link,a:visited {
    color: #fff
}

.main-container {
    background-color: #111;
    width: 100%;
    height: 100%;
    position: relative
}

.page-one {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/page1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}

.center-block {
    position: absolute;
    top: 35%;
    left: 55%
}

.title {
    width: auto;
    height: .86rem;
    font-size: .61rem;
    font-weight: 600;
    line-height: .86rem
}

.sub-title,.title {
    font-family: PingFangSC-Regular,sans-serif;
    color: #fff
}

.sub-title {
    width: 4.82rem;
    height: .99rem;
    font-size: .24rem;
    font-weight: 400;
    line-height: .33rem;
    margin-top: .34rem
}

.new-footer {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff!important
}

a:active,a:hover,a:link,a:visited {
    color: #fff
}

.mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box
}

.header-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3% 4%;
    position: absolute;
    top: 0;
    z-index: 999
}

.header-wrapper .logo {
    width: 41px;
    height: 41px
}

.header-wrapper .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.navbar .nav-item {
    font-size: 14px;
    font-family: PingFangSC-Regular,sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 20px
}

.divide-line {
    background-color: #fff;
    width: 2px;
    height: 19px;
    margin: 0 .43rem
}

.page-one {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 775px;
    position: relative
}

.page-one .title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 139px;
    left: 22px;
    margin-bottom: 41px
}

.page-one .btn-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.center-btn {
    width: 120px;
    height: 34px;
    margin-bottom: 12px
}

.page-one .page-pic {
    width: 80.5%;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
}

.page-one .page1t {
    width: 256px;
    height: auto
}

.title {
    width: 335px;
    height: 44px;
    font-size: 45px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 50px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}



.title-block-two {
    position: absolute;
    bottom: 25px;
    left: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.title-two {
    font-size: 40px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 46px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}




.page3-pic {
    width: 224px;
    height: auto
}



.title-four {
    font-size: 30px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 34px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.page4-pic {
    width: 304px;
    height: auto
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7px;
    font-family: PingFangSC-Regular,sans-serif;
    color: #999;
    font-weight: 400;
    line-height: 10px;
    margin-top: 61px;
    margin-bottom: 92px
}

.footer-block .footer-top {
    line-height: 10px;
    font-size: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px
}

.footer-block .footer-center {
    line-height: 10px;
    font-size: 7px;
    text-align: center;
    margin-bottom: 13px
}

a,a:hover {
    color: #999
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    height: 100%;
    width: 100%;
    z-index: 9999
}

.mask .img {
    width: 69px;
    height: 98px;
    position: absolute;
    top: 15px;
    right: 15px
}

.mask .info {
    position: absolute;
    top: 100px;
    left: 45%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #fff;
    white-space: nowrap
}

.page-one-maintain {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page1_maintain.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 775px;
    position: relative
}

.center-block-maintain {
    position: absolute;
    padding: 0 25px;
    top: 20%;
    left: 50%;
    height: auto;
    transform: translate(-50%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.maintain-title {
    height: 44px;
    font-size: 45px;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 50px;
    white-space: nowrap;
    margin-bottom: 30px
}

.maintain-sub {
    height: 198px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 22px;
    white-space: normal
}



.header-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3% 4%;
    position: absolute;
    top: 0;
    z-index: 999
}

.header-wrapper .logo {
    width: 41px;
    height: 41px
}

.header-wrapper .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.navbar .nav-item {
    font-size: 14px;
    font-family: PingFangSC-Regular,sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 20px
}

.divide-line {
    background-color: #fff;
    width: 2px;
    height: 19px;
    margin: 0 .43rem
}

.page-one {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 775px;
    position: relative
}

.page-one .title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 139px;
    left: 22px;
    margin-bottom: 41px
}

.page-one .btn-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.center-btn {
    width: 120px;
    height: 34px;
    margin-bottom: 12px
}

.page-one .page-pic {
    width: 80.5%;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
}

.page-one .page1t {
    width: 256px;
    height: auto
}

.title {
    width: 335px;
    height: 44px;
    font-size: 45px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 50px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.page-two {
    width: 100%;
    height: 433px;
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px
}



.title-two {
    font-size: 40px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 46px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.page-two .page2-pic {
    width: 208px;
    height: auto
}

.page-three {
    width: 100%;
    height: 433px;
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px
}


.page-four {
    width: 100%;
    height: 433px;
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

.title-four {
    font-size: 30px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 34px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.page4-pic {
    width: 304px;
    height: auto
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7px;
    font-family: PingFangSC-Regular,sans-serif;
    color: #999;
    font-weight: 400;
    line-height: 10px;
    margin-top: 61px;
    margin-bottom: 92px
}

.footer-block .footer-top {
    line-height: 10px;
    font-size: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px
}

.footer-block .footer-center {
    line-height: 10px;
    font-size: 7px;
    text-align: center;
    margin-bottom: 13px
}

a,a:hover {
    color: #999
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 100%;
    position: relative
}

.about-page {
    background-size: cover
}

.about-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 20%;
    transform: translateY(-50%)
}

.about-title {
    font-size: 30px;
    font-family: PingFangSC-Regular,sans-serif;
    font-weight: 600;
    color: #fff;
    line-height: 42px;
    margin-bottom: 12px
}

.about-desc {
    max-width: 80%;
    height: auto;
    font-size: 17px;
    font-family: PingFangSC-Regular,sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 24px
}

.contact-footer {
    position: absolute;
    bottom: 31px;
    width: 100%;
    margin-bottom: 0;
    color: #fff
}

a,a:hover {
    color: #fff
}

.mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box
}

.header-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3% 4%;
    position: absolute;
    top: 0;
    z-index: 999
}


.page-one .title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 139px;
    left: 22px;
    margin-bottom: 41px
}

.page-one .btn-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.center-btn {
    width: 120px;
    height: 34px;
    margin-bottom: 12px
}

.page-one .page-pic {
    width: 80.5%;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
}

.page-one .page1t {
    width: 256px;
    height: auto
}

.title {
    width: 335px;
    height: 44px;
    font-size: 45px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 50px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.page-two {
    width: 100%;
    height: 433px;
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px
}

.title-block-two {
    position: absolute;
    bottom: 25px;
    left: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.title-two {
    font-size: 40px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 46px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.page-two .page2-pic {
    width: 208px;
    height: auto
}

.page-three {
    width: 100%;
    height: 433px;
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px
}

.page3-pic {
    width: 224px;
    height: auto
}

.page-four {
    width: 100%;
    height: 433px;
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}



.page4-pic {
    width: 304px;
    height: auto
}

a,a:hover {
    color: #999
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 100%;
    position: relative
}

.contact-page {
    background-size: cover
}

.contact-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-80%)
}

.contact-title {
    width: 120px;
    height: 42px;
    font-size: 30px;
    font-family: PingFangSC-Regular,sans-serif;
    font-weight: 600;
    color: #fff;
    line-height: 42px;
    margin-bottom: 12px
}

.contact-desc {
    color: #fff;
    font-size: 17px;
    font-family: PingFangSC-Regular,sans-serif;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap
}

.contact-footer {
    position: absolute;
    bottom: 31px;
    width: 100%;
    margin-bottom: 0;
    color: #fff
}

a,a:hover {
    color: #fff
}

.mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box
}

.header-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3% 4%;
    position: absolute;
    top: 0;
    z-index: 999
}


.header-wrapper .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.navbar .nav-item {
    font-size: 14px;
    font-family: PingFangSC-Regular,sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 20px
}

.divide-line {
    background-color: #fff;
    width: 2px;
    height: 19px;
    margin: 0 .43rem
}

.page-one {
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 775px;
    position: relative
}

.page-one .title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 139px;
    left: 22px;
    margin-bottom: 41px
}

.page-one .btn-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.center-btn {
    width: 120px;
    height: 34px;
    margin-bottom: 12px
}

.page-one .page-pic {
    width: 80.5%;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
}

.page-one .page1t {
    width: 256px;
    height: auto
}

.title {
    width: 335px;
    height: 44px;
    font-size: 45px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 50px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.page-two {
    width: 100%;
    height: 433px;
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px
}

.title-block-two {
    position: absolute;
    bottom: 25px;
    left: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.title-two {
    font-size: 40px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 46px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.page-two .page2-pic {
    width: 208px;
    height: auto
}

.page-three {
    width: 100%;
    height: 433px;
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px
}

.page3-pic {
    width: 224px;
    height: auto
}

.page-four {
    width: 100%;
    height: 433px;
    background-image: url(https://cdn.api.wanzi.cn/weapp/icon/mobile/page4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

.title-four {
    font-size: 30px;
    white-space: nowrap;
    font-family: PangMenZhengDao;
    color: #fff;
    line-height: 34px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.page4-pic {
    width: 304px;
    height: auto
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7px;
    font-family: PingFangSC-Regular,sans-serif;
    color: #999;
    font-weight: 400;
    line-height: 10px;
    margin-top: 61px;
    margin-bottom: 92px
}

.footer-block .footer-top {
    line-height: 10px;
    font-size: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px
}


.header-wrapper {
    background-color: #000
}

.guide-container {
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Avenir,Helvetica,Arial,sans-serif
}

.guide-content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6.2rem;
    padding: 0 1.95rem;
    box-sizing: border-box
}

.title-desc {
    width: 100%
}

.box-1 {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    line-height: 30px;
    margin-bottom: 1.23rem;
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.desc-1 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
    margin-bottom: 1.23rem;
    width: 14.28rem
}

.pic1 {
    width: 14.28rem;
    height: 9.11rem;
    margin-bottom: 3.53rem
}

.box-2 {
    font-size: 26px;
    font-weight: 800;
    color: #fff;
    line-height: 37px;
    margin-bottom: 1.74rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.desc-2 .title-1 {
    width: 100%
}

.pic2 {
    width: 15.31rem;
    height: 9.57rem;
    margin-bottom: 2.05rem
}

.desc-3 img {
    width: 15.41rem;
    height: 5.07rem;
    margin-bottom: 2.05rem
}

.desc-4 img {
    width: 15.31rem;
    height: 8.6rem;
    margin-bottom: 2.05rem
}

.pic3 {
    width: 15.31rem;
    height: 11.47rem;
    margin-bottom: 1.18rem
}

.pic4 {
    width: 15.31rem;
    height: 11.67rem;
    margin-bottom: 2.05rem
}

.tip-title {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    line-height: 22px;
    margin-bottom: .61rem;
    text-align: left
}

.desc-6 {
    margin-bottom: 2.66rem;
    display: flex;
    justify-content: flex-start;
    width: 100%
}

.flex-box {
    width: 100%
}

.bottom-btn-box,.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.bottom-btn-box {
    text-align: center;
    margin-bottom: 2.66rem
}

.bottom-btn-box span {
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    line-height: 20px
}

.iphone {
    width: 11.47rem;
    height: 3.23rem;
    margin-bottom: .61rem
}